version: "3.9"

services:
  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: stoic-quotes-backend
    restart: unless-stopped
    ports:
      - "5055:5000"  # External 5055 → Internal 5000
    volumes:
      - ./server/data:/app/data
      - ./server/output:/app/output
      - ./server/fonts:/app/fonts
      - ./server/assets:/app/assets

  client:
    build:
      context: ./client
    container_name: stoic-quotes-frontend
    restart: unless-stopped
    ports:
      - "3300:3000"  # External 3300 → Internal 3000
    stdin_open: true
    tty: true
    depends_on:
      - backend
