# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# Distribution / packaging
*.egg-info/
dist/
build/

# Output folder
output/

# Logs and temp
*.log
*.tmp
*.swp

# IDE / editor folders
.vscode/
.idea/

# OS / system files
.DS_Store
Thumbs.db
